/* Global Styles */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url("../../../../../Documents/Website/Pictures/BG.jpg"); /* Background image of the hotel */
    background-size: cover;
    background-position: center;
    color: #fff; /* White text color */
}

header {
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background color */
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

nav ul li a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
}

#agent-list {
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent white background color for the agent list section */
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
    max-width: 800px; /* Adjust width for the agent list section */
    margin: 0 auto; /* Center the agent list section horizontally */
}

#agent-list h2 {
    margin-top: 0;
    margin-bottom: 20px;
    text-align: center; /* Center the heading */
}

.agent-item {
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent white background color for each agent item */
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
}

.agent-item h3 {
    margin-top: 0;
}
